// script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js') 
// script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')   

// utility file 
script(src='/js/jquery.min.js?v='+version)
script(src='/js/bootstrap.min.js?v='+version)
script(src='/js/assets/ie10-viewport-bug-workaround.js?v='+version)

// library file 
script(src='/ngs/angular-1.5.8/angular.min.js')
script(src='/ngs/angular-1.5.8/angular-sanitize.min.js')
script(src='/ngs/angular-1.5.8/angular-route.min.js')
script(src='/ngs/angular-1.5.8/angular-resource.min.js')
script(src='/ngs/angular-1.5.8/angular-cookies.min.js')

// application files
//script(src='/ngs/app/controller/public.js')
//script(src='/ngs/app/auth/authService.js')
//script(src='/ngs/app/auth/users.js')

    
script(src='/ngs/app/cropicon.min.js?v='+version)

// library file 
// loads the socket.io-client library which exposes an io global
script(src='/socket.io/socket.io.js')

// application file 
script(src='/socket/socket.io.js?v='+version)