footer#footer(role='contentinfo')
	div.container
		hr.featurette-divider
		div.row.row-bottom-padded-sm
			div.col-md-12
				p.pull-left.top-footer-links 
					a(href="/about-us") About Us
					a(href="http://blog.cropicon.com") Blog
					a(href="/how-it-works") How It Works
					a(href="/help") Help
					a(href="/contact-us") Contact Us
					a(href='/legal/privacy-policy' target="_blank") Privacy policy
					a(href="/legal/terms-conditions" target="_blank") Terms & Conditions
			div.col-md-12
				p.copyright.pull-left 
					|&copy; 2016 FreeScript Labs (I) Pvt Ltd. 