footer#footer(role='contentinfo')
	div.container
		div.row.row-bottom-padded-sm
			div.col-md-12
				p.copyright.text-center
				|&copy; 2016 Free
		div.row
			div.col-md-12.text-center
				div.social.social-circle
				li
					a.icon-twitter(href='#')