header.header(role='banner')
    section#navigation-bar
        nav.navbar.navbar-default(role="navigation" )
            .container
                .navbar-header
                    button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/", style='color:#259dff') CROPICON
             
                #navbar-inverse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li: a( href="/") Home
                        li: a( href="/about-us" ) About Us
                        li: a( href="/how-it-works" ) How It Works
                        li: a( href="/login" ng-hide="userLoggedIn.name") Log In
                        li: a( href="/sign-up" ng-hide="userLoggedIn.name") Sign Up
                        li: a( href='/logout' ng-show="userLoggedIn.name") Logout
                        li: a( href='/logout' ng-show="userLoggedIn.name" ng-bind='Hi + userLoggedIn.name')
