extends layout

block content
	.container
		.page-header
			h1= title
			p Welcome to #{title}

		.lead#description
			span.description
				|Express.js is a Node.js web application server framework, 
			|designed for building single-page, multi-page, and hybrid web applications. It is the de facto standard server framework for node.js.