doctype html
html(lang='en',ng-app='cropicon')
	head
		include includes/head
	body
		include includes/header
		block content
		div.main-view
			div.container(ng-view) 
			include includes/loding-view
		include includes/footer
		include includes/footer-js