extends layout

block content
	div.container
		if errors
			each error in errors
				.alert.alert-danger 
					a.close(href='#', data-dismiss='alert', aria-label='close') &times;
					p= error.msg


		div.col-xs-6.col-sm-4   
			form(method="post", action="/login" name="user_login_form" id="user-login-form" class="form-horizontal")
				fieldset
					legend Login
					input(type='hidden', name='_csrf', value=csrfToken)
					input(type="text", name="email")
					input(type="password", name="password")
					input(type="submit" value="Login" class="btn-login") 