extends layout

block content
	.container
		.page-header
			h1= title
			p Welcome to #{title}

		.lead#description
		
			if errors
				each error in errors
					p.error= error.msg

			  
			form(method="post", action="/login")
				input(type='hidden', name='_csrf', value=csrfToken)
				input(type="text", name="email", placeholder="example@gmail.com")
				input(type="password", name="password", placeholder="Password")
				button(type="submit") Login