@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Kavoon');

.copyright{
  font-size: 0.8em;
  color: #ccc;
}

.top-footer-links a {
  margin: 0 .8em 0 0;
  color: #259dff;
  font-size: .9em;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.footer-link{
  padding: 0 0 0 .8em;
  font-size: 0.8em;
  color: #ccc;
}

