/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Kavoon');
*/






    #post {
      font-size: 20px;
      text-transform: uppercase;
    }
    #post ~ p {
      font-size: 18px;
      width: 70%;
    }
    #post ~ quote {
      border-left: 1px solid #555;
      display: block;
      font-size: 18px;
      font-style: italic;
      line-height: 24px;
      margin-left: 30px;
      padding: 20px 0 20px 30px;
      width: 50%;
    }
    html, body { height: 100%; }
    .modal {
      background: #CCC;
      height: 100%;
      opacity: .75;
      position: absolute; top: 0; left: 0;
      width: 100%;
      z-index: 999;
    }
    #loading {
      list-style: none;
      margin: 250px auto;
      text-align: center;
      width: 400px;
    }
    
    /* Loading animation inspired by http://codepen.io/joni/details/FiKsd */
    @keyframes loader{
      50% { height: 6px; margin-top: 74px; opacity: .1; }
    }
    .bar {
      height: 80px;
      width: 6px;
      border-radius: 3px;
      background: #333;
      display :inline-block;
      margin: 0 2px;      
      animation: loader 1.3s infinite;
    }
    .bar:nth-child(1) { animation-delay: .1s; }
    .bar:nth-child(2) { animation-delay: .2s; }
    .bar:nth-child(4) { animation-delay: .4s; }
    .bar:nth-child(5) { animation-delay: .5s; }
    .bar:nth-child(6) { animation-delay: .6s; }
    .bar:nth-child(7) { animation-delay: .7s; }
    .bar:nth-child(8) { animation-delay: .8s; }
    .bar:nth-child(9) { animation-delay: .9s; }
    .bar:nth-child(10) { animation-delay: 1s; }






/******************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto','Nunito', sans-serif;
  color: #384047;
}



form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.navbar{
  border-radius: 0px;
}

.featurette-divider{
  /*border-top: 1px dashed #259dff !important;*/

  border-top: 1px dashed #f4f7f8 !important;
}
.copyright{
  font-size: 0.8em;
  color: #ccc;
}

.top-footer-links a {
  margin: 0 .8em 0 0;
  color: #259dff;
  font-size: .9em;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.footer-link{
  padding: 0 0 0 .8em;
  font-size: 0.8em;
  color: #ccc;
}

.footer-link:hover{
  color: #b3acac;
}
#footer{
  background-color: #f4f7f8;
}