.container(ng-controller='LoginController as ctrl')
    .row
        .col-md-4.col-md-offset-4
            .panel.panel-primary
                .panel-heading {{headerTitle}}
                .panel-body
                    form#user-login-form(role='form', name='userLoginForm', ng-submit='ctrl.submit()')
                        input(type='text', name='uname', ng-model='ctrl.user.username', placeholder='Username', ng-required='', ng-minlength='4')
                        input(type='password', name='pwd', ng-model='ctrl.user.password', placeholder='Password', ng-required='')
                        input.btn-login(type='submit', value='Submit', ng-disabled='userLoginForm.$invalid')
