extends ../layout.pug

block content
	div.container
		div.col-xs-6.col-sm-4   
			form(action='/sign-up', method='post')
				label
				| Username
				input(type='text', name='user')
				label
				| Password
				input(type='text', name='user')
				input(type='submit', name='Submit')
