form(action='index.html', method='post')
    h1 Sign Up
    fieldset
        legend
            span.number 1
            | Your basic info
        label(for='name') Name:
        input#name(type='text', name='user_name')
        label(for='mail') Email:
        input#mail(type='email', name='user_email')
        label(for='password') Password:
        input#password(type='password', name='user_password')
        label Age:
        input#under_13(type='radio', value='under_13', name='user_age')
        label.light(for='under_13') Under 13
        br
        input#over_13(type='radio', value='over_13', name='user_age')
        label.light(for='over_13') 13 or older
    fieldset
        legend
            span.number 2
            | Your profile
        label(for='bio') Biography:
        textarea#bio(name='user_bio')
    fieldset
        label(for='job') Job Role:
        select#job(name='user_job')
            optgroup(label='Web')
                option(value='frontend_developer') Front-End Developer
                option(value='php_developor') PHP Developer
                option(value='python_developer') Python Developer
                option(value='rails_developer')  Rails Developer
                option(value='web_designer') Web Designer
                option(value='WordPress_developer') WordPress Developer
            optgroup(label='Mobile')
                option(value='Android_developer') Androild Developer
                option(value='iOS_developer') iOS Developer
                option(value='mobile_designer') Mobile Designer
            optgroup(label='Business')
                option(value='business_owner') Business Owner
                option(value='freelancer') Freelancer
            optgroup(label='Other')
                option(value='secretary') Secretary
                option(value='maintenance') Maintenance
        label Interests:
        input#development(type='checkbox', value='interest_development', name='user_interest')
        label.light(for='development') Development
        br
        input#design(type='checkbox', value='interest_design', name='user_interest')
        label.light(for='design') Design
        br
        input#business(type='checkbox', value='interest_business', name='user_interest')
        label.light(for='business') Business
    button(type='submit') Sign Up
